# Tasca M6 T01

## Exercise 1

*Create at least two different regression models to try to predict as best as possible the price of housing (MEDV) in the attachment.*

In [3]:
import pandas as pd
import numpy as np
from pandas import read_csv

# load dataset
fpath = 'housing data.csv'
df = read_csv(fpath, header=None)
print(df)

          0     1      2   3      4      5     6       7   8      9     10  \
0    0.00632  18.0   2.31   0  0.538  6.575  65.2  4.0900   1  296.0  15.3
1    0.02731   0.0   7.07   0  0.469  6.421  78.9  4.9671   2  242.0  17.8
2    0.02729   0.0   7.07   0  0.469  7.185  61.1  4.9671   2  242.0  17.8
3    0.03237   0.0   2.18   0  0.458  6.998  45.8  6.0622   3  222.0  18.7
4    0.06905   0.0   2.18   0  0.458  7.147  54.2  6.0622   3  222.0  18.7
..       ...   ...    ...  ..    ...    ...   ...     ...  ..    ...   ...
501  0.06263   0.0  11.93   0  0.573  6.593  69.1  2.4786   1  273.0  21.0
502  0.04527   0.0  11.93   0  0.573  6.120  76.7  2.2875   1  273.0  21.0
503  0.06076   0.0  11.93   0  0.573  6.976  91.0  2.1675   1  273.0  21.0
504  0.10959   0.0  11.93   0  0.573  6.794  89.3  2.3889   1  273.0  21.0
505  0.04741   0.0  11.93   0  0.573  6.030  80.8  2.5050   1  273.0  21.0

         11    12    13
0    396.90  4.98  24.0
1    396.90  9.14  21.6
2    392.83  4.03  34.7
3    394.63  2.94  33.4
4    396.90  5.33  36.2
..      ...   ...   ...
501  391.99  9.67  22.4
502  396.90  9.08  20.6
503  396.90  5.64  23.9
504  393.45  6.48  22.0
505  396.90  7.88  11.9

[506 rows x 14 columns]

In [2]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [4]:
df.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
dtype: int64

In [4]:
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict, GridSearchCV
from sklearn import linear_model

X = df.iloc[:,0:13]
y = df[13]

In [5]:
X

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88

In [25]:
X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.4, random_state=0)

In [26]:
X_train.shape, y_train.shape

((303, 13), (303,))

In [27]:
X_test.shape, y_test.shape

((203, 13), (203,))

## Exercise 3

*Train it using the different possible parameters to try to improve its prediction.*

In [28]:
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [34]:
#Predictions of y with the model
y_pred = lm.predict(X_test)
print(y_pred)

[24.58155243 24.51629253 29.71379915 12.51132696 21.34965428 19.05443022
 20.94614567 20.95753329 19.54644456 20.53025981  6.96153725 17.1707288
 16.85608802  5.74921859 40.74378524 32.62964196 22.88997064 37.11387241
 30.94054261 23.12796161 24.54411122 25.50446659 20.37697803 30.82455449
 22.42949559 12.45993818 17.10212725 18.52819406 34.91024736 20.63587192
 18.38567423 17.65503994 19.39633993 23.8814007  29.06559846 19.49721361
 10.81151906 25.66712254 18.47597465 15.40207099 26.55714333 20.56301083
 21.8661955  16.10102382 22.05244625 24.87100697 19.97650209 22.98518884
  9.46781454 23.96350651 21.66355147 16.95911711 24.48952338 28.692406
 13.80788563 21.35149553 20.72525415 14.54282452 16.61385208 22.02338757
 17.15670419 21.27690041 33.12409276 31.40070549 18.22591067 33.35335507
 18.26583607 18.69440702 19.46223051 23.01614743 23.08383927 24.24060449
 31.46365924 28.75560967 26.32535083  4.94498016 36.16174377 23.6119604
 27.09367373 19.04866966 28.60456874 19.16670874 19.8980694  37.3779521
 38.54326523 23.44222536 24.71260439 17.36345744 26.24309463 16.46001101
 15.49549173 12.99892537 24.90156151 31.31906531 22.32389602 19.77147408
  0.39563905 25.35932868 15.92697707 17.42665161 25.33097699 22.03853346
 32.48171655 22.05967751 27.07700961 23.35404531  7.2956865  15.69000905
 22.30144799 29.36865198 34.1291138  13.23745802 19.40592666 20.75448625
 11.33021991 23.29624296  4.74027428 20.02009615  9.31551538 45.20568188
 30.89908863 12.25262113 17.16550684 21.22328782 23.73552003 21.03387818
 34.93370572 12.98540543 20.76915899 35.40308195 19.24125193 13.28884198
 14.36643852 23.90294596 14.52270294 31.07774479 25.26970849 14.95700671
 23.66302972  9.55785281 14.70899341 20.65791202 32.60450194 27.86887317
 25.99433831 14.93280205 31.26889799 27.12710604 14.39292898  7.22447485
 28.56228159 24.83574781  3.9319552  28.53645996 17.02474435 30.18463196
 20.98060755 14.97401238 17.58046178 11.97364144  9.01221584 18.78596
 34.54755408 32.69375742 22.35908781 18.94042058 22.71561523 26.7503581
 21.88243156 17.241734   32.55638286 11.11432479 19.15932632 33.87025984
 19.07203575 15.83715892 18.5275603  13.93356225 24.6112186  24.10822119
 16.62901342 14.88029584 19.73198007 25.86917969 16.75148456 24.46774899
 21.67865126 27.92069012 35.11212005 17.07584017 11.94679816 34.42681871
 30.51034425 20.6905864  39.68629868 29.91706802 29.21514166 17.6301969
 27.2195486  40.06507642 29.48926372 16.58871089 37.21015438]

## Exercise 2

*Compare in base of MSE and R2.*

In [33]:
#R2
r_sq = lm.score(X_test,y_test)
print(f"coefficient of determination: {r_sq}")

coefficient of determination: 0.6882607142538012

In [51]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test, y_pred)
print(f'mean squared error: {mse}')

mean squared error: 25.790362150702506

## Exercise 4

*Compare their performance using the train/test approach or using all the data (internal validation).*

In [49]:
from sklearn.metrics import r2_score

#Next we do cross validation, which splits apart our data and fits the model on different samples and 
# gives scores for each sample to get the best fit model before we test it on the testing data.
# in this case we are using the whole dataset

scores = cross_val_score(lm, X, y, cv = 5)    #cv is the number of folds, scores will give an array of scores

print (scores, np.mean(scores), np.std(scores))

[ 0.63919994  0.71386698  0.58702344  0.07923081 -0.25294154] 0.3532759243958807 0.37656783933261967

In [50]:
#To get y predictions and check them all in one using cross validation

predictions = cross_val_predict(lm, X_test, y_test, cv = 5)     

accuracy = r2_score(y_test, predictions)  #this says the accuracy of the predictions from the best cv fold
accuracy

0.6309666151716171

In [59]:
print(f"coefficient of determination before: {r_sq}, and now with the best cv fold: {accuracy}")

coefficient of determination before: 0.6882607142538012, and now with the best cv fold: 0.6309666151716171

## Exercise 5

*Don't use the room count variable (RM) when making predictions.*

In [55]:
#remove RM from the dataset

X = X.drop([5], axis=1)
X.head()

        0     1     2   3      4     6       7   8      9     10      11    12
0  0.00632  18.0  2.31   0  0.538  65.2  4.0900   1  296.0  15.3  396.90  4.98
1  0.02731   0.0  7.07   0  0.469  78.9  4.9671   2  242.0  17.8  396.90  9.14
2  0.02729   0.0  7.07   0  0.469  61.1  4.9671   2  242.0  17.8  392.83  4.03
3  0.03237   0.0  2.18   0  0.458  45.8  6.0622   3  222.0  18.7  394.63  2.94
4  0.06905   0.0  2.18   0  0.458  54.2  6.0622   3  222.0  18.7  396.90  5.33

In [56]:
scores = cross_val_score(lm, X, y, cv = 5)
print (scores, np.mean(scores), np.std(scores))

[0.46450601 0.61522064 0.43616681 0.57879898 0.37296639] 0.4935317652178922 0.09027504930365378

In [63]:
#To get y predictions and check them all in one using cross validation

predictions = cross_val_predict(lm, X, y, cv = 5)     

accuracy = r2_score(y, predictions)  #this says the accuracy of the predictions from the best cv fold
accuracy

0.6394765926465307

## Random Forest implementation

In [6]:
# Convert to numpy array
features = np.array(X)
labels = np.array(y)

In [7]:
# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(
    features, labels, test_size = 0.25, random_state = 42)

In [8]:
# Saving feature names for later use
feature_list = list(['CRIM', 'ZN', 'INDUS','CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT'])

In [9]:
#look at the shape of all the data
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (379, 13)
Training Labels Shape: (379,)
Testing Features Shape: (127, 13)
Testing Labels Shape: (127,)

In [10]:
# Train the model
from sklearn.ensemble import RandomForestRegressor

# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(train_features, train_labels);

In [13]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)

# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2),'.')

Mean Absolute Error: 2.12 .

In [14]:
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / test_labels)

# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 88.89 %.